/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #f4f4f4;
}


.background-image {
    position: relative;
    height: 100%;
    background: url('in.avif') no-repeat center center fixed;
    background-size: cover;
}


header {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    height: 100vh;
    color: black;
    text-align: center;
    padding-right: 30px; 
}

.content {
    max-width: 800px;
    padding: 20px;
    text-align: right; 
}

h1 {
    font-size: 3em;
    margin-bottom: 30px;
}



/* Navigation Styles */
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 30px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 1.2em;
    padding: 10px 30px;
    border: 2px solid black;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: black;
    color: white;
}
